<div class="bg-primary min-h-screen flex flex-col justify-center items-center text-accent">
    <div *ngIf="user()?.name" class="text-center">
      <h1 class="text-3xl font-semibold mb-4">Welcome, {{ user().name }}</h1>
      <p *ngIf="isVip" class="mb-4">You have until {{ user().expireVipIn }}.</p>
    </div>
    <div *ngIf="!user()?.name" class="text-center">
      <h1 class="text-3xl font-semibold mb-4">Welcome, host!</h1>
      <p class="mb-4">Please, make a free account.</p>
    </div>
  
    <div class="mt-8">
      <h2 class="text-2xl font-semibold mb-4">What You Can Do:</h2>
      <ul class="list-disc list-inside ">
        <li>Create and solve statistics problems.</li>
        <li *ngIf="user?.name">Ask for help.</li>
      </ul>
    </div>
  
  
    <div *ngIf="!user()?.name" class="mt-8">
      <h2 class="text-2xl font-semibold mb-4">What You Should Do:</h2>
      <ul class="list-disc list-inside">
        <li>Create a Free Account</li>
        <li>Get more resources</li>
        <li>Unlock advanced features.</li>
      </ul>
    </div>

    <div *ngIf="!isVip">
        <h2 class="text-2xl font-semibold mb-4">VIP Benefits:</h2>
        <li>Support.</li>
        <li>Get more resources.</li>
        <li>Unlock advanced features.</li>
        <li>Unlock detail about all calculations.</li>
    </div>
  
    <a [routerLink]="['/auth/register']" *ngIf="!user()?.name" class="bg-tertiary hover:bg-secondary text-neutral font-bold py-2 px-4 rounded">
      Sign Up
    </a>
  
    <a [routerLink]="['/calculator']" class="bg-tertiary hover:bg-secondary text-neutral font-bold py-2 px-4 rounded mt-4">
      Go do some statistics
    </a>

    <a [routerLink]="['/profile/vip-purchase']" class="bg-tertiary hover:bg-secondary text-neutral font-bold py-2 px-4 rounded mt-4">
      Buy Vip!
    </a>

    <a [routerLink]="['/profile']" class="bg-tertiary hover:bg-secondary text-neutral font-bold py-2 px-4 rounded mt-4">
      Edit Profile
    </a>
  </div>
  