/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


$primary: #00b2bd;
$secondary: #3699c5;
$tertiary: #156c7a;
$neutral: #ffffff;
$accent: #000000;
