# Ignore Node modules globally
**/node_modules/

# Ignore compiled output globally
**/dist/

# Environment Variables
.env
.env.local
**/constants**
**/environments.*

# Ignore .vscode directory globally
**/.vscode/

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
.DS_Store
Thumbs.db
npm-debug.log*
