<div class="bg-tertiary">
    <div class="container mx-auto text-white text-center">
        <h1 class="text-2xl font-semibold">Terms and Conditions</h1>
    </div>


    <div class="container mx-auto py-8">
        <div class="bg-white p-6 rounded-lg shadow-md flex flex-col gap-5 m-3">
            <h2 class="text-xl font-semibold mb-4">1. Introduction</h2>
            <p>Welcome to YourStatsHelper, an open-source project dedicated to providing statistics solutions for everyone.</p>

            <h2 class="text-xl font-semibold mt-6 mb-4">2. Acceptance of Terms</h2>
            <p>By accessing or using our software, you agree to comply with and be bound by these terms and conditions.
            </p>


            <h2>2.1. Use of Software</h2>
            <p>You are free to use, modify, and distribute the software in accordance with the terms of the open-source
                license associated with this project. Please refer to the project's license for details.</p>

            <h2>2.2. User Responsibilities</h2>
            <p>While using this software, you agree to:</p>
            <ul class="list-disc list-inside">
                <li>Comply with the terms of the open-source license.</li>
                <li>Use the software responsibly and for lawful purposes.</li>
                <li>Respect the rights and contributions of other users.</li>
            </ul>

            <h2>2.3. Privacy and Data Usage</h2>
            <p>YourStatsHelper respects user privacy. Any data collected is handled in accordance with our Privacy
                Policy, which you can find <a href="/privacy">here</a>.</p>

            <h2>2.4. Disclaimer of Liability</h2>
            <p>YourStatsHelper is provided "as-is" and without any warranties. We are not responsible for any damages or
                losses incurred while using the software.</p>

            <h2>2.5. Changes to Terms</h2>
            <p>We reserve the right to update these terms and will notify users of any changes.</p>

            <h2>2.6. Payments and Refunds</h2>
                <ul class="list-disc list-inside flex flex-col gap-1.5">
                <li>Your payment, if applicable, is considered a contribution to the maintenance and further development of the software. It supports the costs associated with deployment and server usage to ensure the software's availability to users.</li>
                <li>We do not offer refunds for any payments made. Your contribution is non-refundable, and you acknowledge that it goes toward the ongoing operation and improvement of the software.</li>
            </ul>
            <h2 class="text-xl font-semibold mt-6 mb-4">3. Contact Information</h2>
            <p>If you have any questions or concerns about these terms and conditions, please contact us at <a
                    href="mailto:jorge@sarkis.dev">contact@example.com</a>.</p>
        </div>
    </div>

</div>