<div class="flex flex-row flex-wrap bg-primary">
  <nav-admin></nav-admin>
  <div class=" min-h-screen flex flex-col justify-center items-center text-accent flex-grow">
    <div class="text-center">
      <h1 class="text-3xl font-semibold mb-4">Welcome, {{ user().name }}</h1>
      <p class="mb-4">You have until {{ user().expireVipIn | date:'EEEE, MMMM d, y' }}.</p>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mb-4">Tank you for support the project!</h2>
      <li>You can ask for help in our forum.</li>
      <li>Our project thrives with your support.</li>
      <li>You can request new features.</li>
      <li>Enjoy an exclusive NavBar to enhance your experience.</li>
    </div>

    <a [routerLink]="['/vip/calculator/stats']"  class="bg-tertiary hover:bg-secondary text-neutral font-bold py-2 px-4 rounded mt-4">
      Go do some statistics
    </a>
    <a [routerLink]="['/vip/calculator/probability']"  class="bg-tertiary hover:bg-secondary text-neutral font-bold py-2 px-4 rounded mt-4">
      Go do some probability
    </a>

    <a [routerLink]="['/profile']" class="bg-tertiary hover:bg-secondary text-neutral font-bold py-2 px-4 rounded mt-4">
      Edit Profile
    </a>
  </div>
</div>