<div class="bg-primary min-h-screen flex flex-col justify-center items-center text-white">
  <div class="text-center text-accent">
    <h1 class="text-3xl sm:text-5xl font-extrabold">YourStatsHelper</h1>
    <p class="text-2xl mt-4">Empowering You with Statistics Solutions</p>
    <p class="text-lg mt-8 max-w-md mx-auto">Welcome to YourStatsHelper, your trusted resource for conquering the world of statistics. Whether you're a student striving for success in exams, a researcher diving into data analysis, or anyone seeking clarity in statistics, we're here to support you every step of the way.</p>
  </div>

  <div class="mt-12">
    <a [routerLink]="['/home/main']"
      class="bg-tertiary text-neutral hover:bg-secondary font-bold py-2 px-4 rounded mr-4">
      Get Started
    </a>
  </div>
  <section class="flex flex-col gap-2 mt-2">
    <div class="bg-secondary rounded-md m-2 p-3 flex flex-col gap-1 text-justify divide-y">
      <h2 class="text-3xl text-center font-extrabold">Unlock the World of Statistics</h2>
      <p>Need help acing an exam or solving statistics problems?</p>
      <p>In our free test, you can tackle any statistics challenge.</p>
      <h4>Looking for in-depth explanations?</h4>
      <p>Upgrade to a VIP account for just $0.99.</p>
      <p>With a VIP account, you gain access to our forum, and every answer comes with a detailed explanation.</p>
    </div>
    <div class="bg-secondary rounded-md m-2 p-3 flex flex-col gap-1 text-justify divide-y">
      <h2 class="text-3xl text-center font-extrabold">Master Probability</h2>
      <p>Studying probability? Need assistance?</p>
      <p>Our VIP program offers exclusive access to:</p>
      <ul>
        <li>Independent events calculator.</li>
        <li>Dependent events calculator.</li>
        <li>Permutation events calculator.</li>
      </ul>
      <p>Your teachers will be impressed with your newfound knowledge.</p>
    </div>
  </section>
  <section class="flex flex-col gap-2 mt-2">
    <div class="bg-secondary rounded-md m-2 p-3 flex flex-col gap-1 text-justify divide-y">
      <h2 class="text-3xl text-center font-extrabold">About YourStatsHelper</h2>
      <p>YourStatsHelper is led by a seasoned tutor with over 8 years of experience helping students excel in exams and college. We're committed to improving your learning experience.</p>
      <p>We value your feedback and suggestions. Please, reach out to us if you have any ideas for enhancements.</p>
      <p>All essential information can be found in the footer.</p>
    </div>
  </section>
</div>
