<div class="bg-primary min-h-screen flex flex-col justify-center items-center text-white">
  <div class="text-center text-accent">
    <h1 class="text-3xl sm:text-5xl font-extrabold">YourStatsHelper</h1>
    <p class="text-2xl mt-4">Your Page to Solve Your Statistics Problems</p>
    <p class="text-lg mt-8 max-w-md mx-auto">Welcome to YourStatsHelper, your go-to resource for conquering the world of
      statistics. Whether you're a student grappling with coursework, a researcher diving into data analysis, or anyone
      seeking clarity in the realm of statistics, we're here to help you every step of the way.</p>
  </div>

  <div class="mt-12">
    <a [routerLink]="['/home/main']"
      class="bg-tertiary text-neutral hover:bg-secondary  font-bold py-2 px-4 rounded mr-4">
      Star Here
    </a>
  </div>
  <section class="flex flex-col gap-2 mt-2">
    <div class="bg-secondary rounded-md m-2 p-3 flex flex-col gap-1 text-justify divide-y">
      <h2 class="text-3xl text-center font-extrabold">Statistics</h2>
      <p>Wants help to pass in a exam? Need to solve quickly a statistics problem?</p>
      <p>In the free test you can solve any statistic problem.</p>
      <h4>Need a explanation? Your problem is a very specific?</h4>
      <p>With 2.50 USD you can have a VIP account.</p>
      <p>With a VIP account you can do questions in our forum.</p>
      <p>AND you will have a explanation of any answer.</p>
    </div>
    <div class="bg-secondary rounded-md m-2 p-3 flex flex-col gap-1 text-justify divide-y">
      <h2 class="text-3xl text-center font-extrabold">Probability</h2>
      <p>Are you studying probability? Do you need help?</p>
      <p>In our VIP programm you will have access to:</p>
      <ul>
        <li>Indepedent events calculator.</li>
        <li>Depedent events calculator.</li>
        <li>Permutation events calculator.</li>
      </ul>
      <p>Your teach wants explanation? Don't be worry. You will learn anything.</p>
    </div>
  </section>
  <section class="flex flex-col gap-2 mt-2">
    <div class="bg-secondary rounded-md m-2 p-3 flex flex-col gap-1 text-justify divide-y">
      <h2 class="text-3xl text-center font-extrabold">Safety.</h2>
      <p>YourStatsHelper was made for a specialist and experient tutor.</p>
      <p>Then more than 8 years helping people to pass in exames and colege. I decided to create this web-site to help anyone.</p>
      <p>I am open to read and listen any kind of suggest and improve the user experience here. Please, if you have any suggest, contact me.</p>
      <p>All information will be in the footer.</p>
    </div>
  </section>
</div>