<div class="p-4 bg-accent min-h-screen">
  <h2 class="text-2xl font-semibold mb-4">Probability Calculator</h2>

  <div class="mb-4 text-neutral">
      <h3 class="text-lg font-medium my-2">Calculating Probability</h3>
      <p>Calculate the likelihood of an event happening:</p>
      
      <h4 class="text-md font-medium my-2">Example: Rolling a Four on a Six-Sided Die</h4>
      <p>To figure out the chance of rolling a 4 on a standard six-sided die:</p>
      <p>You have 1 successful outcome (rolling a 4) out of 6 possible outcomes.</p>
  
      <label class="block text-sm font-medium mt-10">Enter the total number of possibilities (e.g., for a six-sided die, enter 6):</label>
      <input 
          [(ngModel)]="possibilities" 
          class="w-full mt-1 p-2 border text-accent border-neutral rounded-md"
          type="number" 
          [min]="possibilities_wanted"
      />

      <label class="block text-sm font-medium mt-10">Enter the number of desired outcomes (e.g., if you want the numbers 2 and 4, enter 2):</label>
      <input 
          [(ngModel)]="possibilities_wanted" 
          class="w-full mt-1 p-2 border text-accent border-neutral rounded-md"
          type="number"
          min="1"
      />
      <label class="block text-sm font-medium mt-10">Choose the type of calculation (e.g., if you want to get the same result consecutively, select "In a row". If you just need the result at least once, choose "Get number once"):</label>
      <select [(ngModel)]="kind" class="bg-tertiary text-neutral border-2 rounded">
        <option value="get_number_once">Get number once</option>
        <option value="in_row">In a row</option>
        <option value="">None</option>
      </select>
      <label class="block text-sm font-medium mt-10">Enter the number of times you'll perform the event (e.g., if you're rolling the die twice, enter 2):</label>
      <input 
          [(ngModel)]="numberOfEvents" 
          class="w-full mt-1 p-2 border text-accent border-neutral rounded-md"
          type="number"
          min="1"
      />
  </div>
  
  <button class="bg-primary text-neutral px-4 py-2 rounded-md" (click)="calculateProbability()">Calculate</button>
  <p class="text-lg font-medium text-neutral my-10">The probability of getting your desired result is: {{ probability | number: '1.2-2' }}%</p>
  <p *ngIf="message.show" class="text-lg font-medium text-neutral my-10">{{message.message}}</p>
  

  <a [routerLink]="['/home/main']" class="bg-neutral hover:bg-secondary text-primbg-primary font-bold py-2 px-4 rounded mr-4">
    Go back
  </a>
</div>
