<aside class="bg-primary text-neutral w-64 min-h-screen p-4">
    <nav>
      <ul class="space-y-2">
        <li class="option-main">
          <div class="flex items-center justify-between p-2 hover:bg-tertiary">
            <div class="flex items-center">
              <span>Calendar</span>
            </div>
          </div>
          <ul class="option-secondary ml-4 hidden">
            <li>
              <a href="#" class="p-2 hover:bg-tertiary flex items-center">
                Class
              </a>
            </li>
            <li>
              <a href="#" class="p-2 hover:bg-tertiary flex items-center">
                Tests
              </a>
            </li>
          </ul>
        </li>
        <li class="option-main">
          <div class="flex items-center justify-between p-2 hover:bg-tertiary">
            <div class="flex items-center">
              <span>Calculators</span>
            </div>
            <i class="fas fa-chevron-down text-xs"></i>
          </div>
          <ul class="option-secondary ml-4 hidden">
            <li>
              <a href="#" class="p-2 hover:bg-tertiary flex items-center">
                Statistics
              </a>
            </li>
            <li>
              <a href="#" class="p-2 hover:bg-tertiary flex items-center">
                Probability
              </a>
            </li>
            <li>
              <a href="#" class="p-2 hover:bg-tertiary flex items-center">
                Finances
              </a>
            </li>
          </ul>
        </li>
        <li class="option-main">
          <div class="flex items-center justify-between p-2 hover:bg-tertiary">
            <div class="flex items-center">
              <span>Forum</span>
            </div>
          </div>
          <ul class="option-secondary ml-4 hidden">
            <li>
              <a href="#" class="p-2 hover:bg-tertiary flex items-center">
                Presupuestos
              </a>
            </li>
            <li>
              <a href="#" class="p-2 hover:bg-tertiary flex items-center">
                Informe médico
              </a>
            </li>
          </ul>
        </li>
        <li class="option-main">
          <div class="flex items-center justify-between p-2 hover:bg-tertiary">
            <div class="flex items-center">
              <span>Documentación</span>
            </div>
          </div>
          <ul class="option-secondary ml-4 hidden">
            <li>
              <a href="#" class="block p-2 hover:bg-tertiary flex items-center">
                Firmas pendientes
              </a>
            </li>
            <li>
              <a href="#" class="block p-2 hover:bg-tertiary flex items-center">
                Documentos
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

