<aside class="bg-primary text-neutral w-64 h-auto p-4">
    <nav>
      <ul class="space-y-2 font-bold">
        <li class="rounded-lg bg-secondary cursor-pointer">
          <div class="rounded-lg items-center p-2 text-center hover:bg-accent w-full" (click)="changeVisibility(1)">  
              Forum
          </div>
          <ul class="rounded-lg bg-secondary overflow-hidden w-full" *ngIf="activated===1">
            <li class="hover:bg-accent">
              <a href="#" class="p-2  flex items-center">
                Questions
              </a>
            </li>
            <li class="hover:bg-accent">
              <a href="#" class="p-2  flex items-center">
                General
              </a>
            </li>
          </ul>
        </li>
        <li class="rounded-lg bg-secondary cursor-pointer">
          <div class="rounded-lg items-center p-2 text-center hover:bg-accent w-full" (click)="changeVisibility(2)" [ngClass]="{ 'bg-accent': activated === 2 }">  
              Calculators
          </div>
          <ul class="rounded-lg bg-secondary overflow-hidden w-full" *ngIf="activated===2">
            <li class="hover:bg-accent">
              <a [routerLink]="['/vip/calculator/stats']" class="p-2  flex items-center">
                Statistics
              </a>
            </li>
            <li class="hover:bg-accent">
              <a  [routerLink]="['/vip/calculator/probability']" class="p-2  flex items-center">
                Probability
              </a>
            </li>
          </ul>
        </li>
        <li class="rounded-lg bg-secondary cursor-pointer">
          <div class="rounded-lg items-center p-2 text-center hover:bg-accent w-full" (click)="changeVisibility(3)">  
              Profile
          </div>
          <ul class="rounded-lg bg-secondary overflow-hidden w-full" *ngIf="activated===3">
            <li class="hover:bg-accent">
              <a [routerLink]="['/profile']" class="p-2  flex items-center">
                Edit profile
              </a>
            </li>
            <li class="hover:bg-accent">
              <a [routerLink]="['/profile/vip-purchase']" class="p-2  flex items-center">
                Buy more vip
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</aside>

